/*
CSS -> Hoja de estilos en cascada

selector {
    propiedad: valor;
}

*/

*{ /*selector universal*/
    margin: 0; /*Margen externo*/
    padding: 0; /*Margen interno*/
}

body{ /*Selector de etiqueta*/
    background-color: aqua; /*Color de fondo*/
}

@font-face{ /*Cargar tipografia local*/
    src: url("../tip/badeen.ttf"); /*Ruta de la tipografia*/
    font-family: 'badeen'; /*Nombre que le quiero dar a la tipografía*/
}

h1{
    color:red; /*Color de letra*/
    font-family: 'badeen'; /*Aplicar tipografía*/
    font-size: 90px; /*Tamaño fuente*/
    text-align: center; /*Texto alineado al centro*/    
}

p{
    color:blue;
    font-size: 30px;
    font-weight: bold; /*Texto en negrita*/
    font-style: italic; /*Texto en cursiva*/
    /*font-family: 'badeen';*/
    /*font-family: "Exile", system-ui;*/

}

span{
    font-size: 60px;
}